{% extends 'base.html' %}
{########## В этом файле  составляем верстку окончания опроса}#}
{% block block_send %}
<header>
    <div class="container-md" >
        <div class="row">
          <div class="col-sm-12">
                  <div class="div_headerr">
                    <div class="div_send">
                      <ul>
                         <li>Опрос</li>
                         <li><a class="a_documentasion" href="{% url 'documentations' %}">Документация</a></li>
                      </ul>
                    </div>
                 </div>
                 <div class="div_end">
                   <h4 class="ha_end_thank">Спасибо</h4>
                   <h4 class="ha_end snd">Отправлено</h4>
                 </div>
          </div>
        </div>
    </div>
</header>
{% endblock %}
